<!DOCTYPE html>
<html>
  <head>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <title>YourAppName</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">




    <title><%= content_for(:title) || "The Gossip Project" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application" %>

  </head>

  <body>

  <% if notice %>
  <div class="alert alert-success">
  <%= notice %>
  </div>
  <% end %>

    <header>
      <a href="<%= team_path %>">Équipe</a>
      <a href="<%= contact_path %>">Contact</a>
      

      <% if session[:user_id] %>
        <%= form_with(url: session_path(session[:user_id]), method: :delete, local: true) do %>
          <%= submit_tag "Se déconnecter" %>
        <% end %>
      <% else %>
        <a href="<%= new_user_path %>"> inscription</a>
        <a href="<%= new_session_path %>"> connection</a>
      <% end %>



    </header>
    <%= yield %>
  </body>
</html>
